@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html{font-family: "Arial";
background-color: #475a3;
color: white;
}

body{}




div {
width: 300px; height: auto;
transition: all 200ms ease-in;
border-style: solid;
border-color: black;
border-width: 1px;}

div:hover {background-color: #336699;
transition: all 200ms ease-in;
border-color: white;
border-style: solid;
border-width: 1px;}







fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 





.txt   
    {
        
        height:50px;
    }


input {
padding: 5px;
width: 50px;
border-style: solid;
border-color: black;
border-width: 1px;
transition: all 200ms ease-in;
-webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;}

input:hover {color: white;
background-color: #335199;
border-color: white;
transition: all 200ms ease-in;
-webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;}

